/*
Jackson Meyer 8922843

/*body background colour*/
html{
    font-style: italic;
    font-variant: normal, small-caps;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;

        /*absolute units*/
    font : normal normal normal 20px/1.5 Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: hsla(202.5, 9.76%, 16.08%, 1);
    width:100%; /*relative to parent*/
    max-width: 1500px;
    padding : 0.25rem;
    margin: 0 auto;
}
h1, h2{
    font-variant: small-caps;
    color: springgreen;

}
figcaption{
    font:bold
}
q{
    font-style: italic;
    font-family: cursive;
}
p{
    font-size: 15px;
    width:100%;
    color: #CAD2C5; 
}   
.main-section-figure img{
    padding: 0.5rem;
    height: 30%;
    width: 30%;
    border-radius: 10%;
}
.main-section-figure figure{
    width: 50%;
    height: 50%;
    padding: .5rem;
    margin: 1rem;
}
#relative-path-image{
    border: .25rem solid rgb(167, 190, 169);
    border-radius:10%;
    color:rgb(167, 190, 169);
    background-color: hsla(200.87, 19.66%, 22.94%, 1);
}
#absolute-path-image{
    border: .25rem solid rgb(200, 190, 169);
    border-radius: 10%;
    color:rgb(200, 190, 169);
    background-color: hsla(200.87, 19.66%, 22.94%, 1);
}
.main-section{
    text-align: center;
    padding: .5rem;
}
iframe{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: .5rem;
    border:.25rem solid #8a8;
}
footer, header{
    text-align: center;
    border : .5rem double #5A7469;
    background-image: linear-gradient(90deg, rgba(90,116,105,1) 0%, rgba(37,42,45,1) 80%, rgba(0,212,255,1) 100%);
    color:#CAD2C5
}
#bio{
    text-align: left;
}
#quote{
    padding: .25rem;
    border: .25rem solid #8A8;
    box-shadow: 1rem 1rem darkslategray;
    color:#CAD2C5
}

